<center>
    <div class="row text-center" style="width:86%">
        <div class="card-body mt-3">
            <h1 class="card-title">CONTRIBUTION <b>LEADERBOARD</b></h1>
        </div>
    </div>
</center>

<div class="container">
    <div class="row text-center mx-3 mb-5">

        <div class="col-xl-3 col-sm-6 my-3 px-3">
            <div class="bg rounded py-5 px-4">
                <img src="https://arjunkrishna.in/images/profile-pic.jpg" width="120px"
                    class="rounded-circle mb-3 img-thumbnail">
                <h5 class="mb-1">Arjun Krishna</h5>
                <h6 class="mb-3"><a target="blank" href="https://github.com/decoded-cipher">@decoded-cipher</a></h6>

                <div class="bgm rounded py-4 px-4">
                    <p>Public Repositories : <b>77</b></p>
                    <p>Total Commits : <b>1078</b></p>
                    <p>Total Forks : <b>13</b></p>
                </div>
            </div>
        </div>

    </div>
</div>